.fontSize12{
    font-size: 0.24rem;
}
.fontSize14{
    font-size: 0.28rem;
}
.fontSize15{
    font-size: 0.3rem;
}
.fontSize16{
    font-size: 0.32rem;
}
.fontSize18{
    font-size: 0.36rem;
}
// // 进度条样式覆盖
// .el-progress--circle .el-progress__text, .el-progress--dashboard .el-progress__text {
//     font-size: 0.45rem !important;
//     color: #ffffff;
// }
// path.el-progress-circle__track {
//     stroke: #9ad5ef;
// }
// path.el-progress-circle__path {
//     stroke: #ffffff;
// }